NEXT_PUBLIC_SUPABASE_URL=https://qispjirvvcwempiiiwrp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFpc3BqaXJ2dmN3ZW1waWlpd3JwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3Njg2NjMsImV4cCI6MjEwNjM0NDY2M30.qQwls-1LXjParPnxc_X9HWrtcHqKx06GwkRAlCFHfws
